astroid
cycler
Cython
isort
kiwisolver
lazy-object-proxy
matplotlib
mccabe
numpy
Pillow
protobuf
pycocotools
pylint
pyparsing
python-dateutil
scipy
six
tensorboardX
pytorch::pytorch 
torchvision
tqdm
typed-ast
wrapt
